<div class="jumbotron text-center">
  <h1 class="display-3">Welcome to Chill & Chic</h1>
  <p class="lead">Dress to Impress Without the Stress</br>
Explore our latest collection of fashion and accessories.</p>
  <p><a class="btn btn-lg btn-primary" href="/products" role="button">Shop Now</a></p>
</div>
